/* create.module.css */

.create-page {
  background-color: white;
  min-height: 100vh;
  border: 1px solid gray;
  text-align: center;

}

.create-text {
  position: relative;
  border: 1px solid transparent;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: black;
}

.form-container {
  color: black;

}

.form-column {
  text-align: left; /* Align form elements to the left */
}

.form-container label {
  margin-bottom: 5px;
  display: block; /* Ensure labels are displayed as block elements */
}

.form-container input,
.form-container textarea {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid green;
  margin-bottom: 12px;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.form-container input:hover,
.form-container textarea:hover {
  background-color: lightseagreen; /* Change background color on hover */
  color: black;
}

.form-button-container input {
  width: 100%;
  margin-top: 20px;
  background-color: blue;
  color: white;
  border-radius: 50px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.form-button-container input:hover {
  background-color: #555; /* Change background color on hover */
}

.datetime-box {
  margin: 10px;
  padding: 10px;
  background-color: #33b249;
  border: none;
  border-radius: 10px;
  color: white;
}

.remove-box {
  margin: 10px;
  padding: 10px;
  background-color: #ED0800;
  border: none;
  border-radius: 10px;
  color: white;
}


.parent-container {
  border: 1px solid transparent;
  
}

.float-child-left {
  display: inline-block;
  width: 30%; /* Adjust width as needed */
  margin-right: 10%; /* Adjust spacing between containers */
  vertical-align: top; /* Align to the top */
}

.float-child-right {
  display: inline-block;
  width: 30%; /* Adjust width as needed */
  vertical-align: top; /* Align to the top */
}

.flat-container {
  margin-top: 2rem; /* Adjust as needed */
  border: 1px solid transparent;
  padding: 2rem;
  width: 50%; /* Make container full width */
  min-height: 200px; /* Adjust height as needed */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}