.home-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid transparent;

}

.navBar {
  background-color: white;
  padding: 1rem;
  }

.textProfile {
  border: 1px solid transparent;
  padding: 20px 40px;
  background-color: white;
  color: black;
  position: relative;
 /* margin: 10px 20px 15px 25px; /* top, right, bottom, left */
 /* left: 40px;
  top: 100px;
  z-index: 2;*/
}

.box {
  width: 50px;
  
  
}

.profileSection {
border-radius: 25px;
width: 350px;
padding: 20px;
border: 1px solid #ddd;
background-color: white;
position: relative;
left: 50px;
top: 120px;

}

.infoBox {
  border: 1px solid #ccc; /* Add border or other styling as desired */
  padding: 10px; /* Add padding as desired */
  margin-top: 10px; /* Add margin as desired */
}

.infoTitle {
  font-weight: bold; /* Make the title bold or adjust styling as desired */
}

.detailSection {
flex: 1;
padding: 10px 5px 10px 40px;
border: 1px solid transparent;
background-color: #ffffff;
position: relative;
}

.profilePicture {
margin-right: 10px;
text-align: center; /* Center the image within its container */
}


.profilePictureContainer {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

.profileContent {
text-align: center;
margin-top: 10px;
font-weight: bold;
color: #121111;
}

.topDetail {
flex: 1;
padding: 10px;
border: 1px solid #ddd;
background-color: white;
margin-bottom: 10px;
border-radius: 25px;
}

.bottomDetail {
flex: 1;
padding: 10px;
border: 1px solid #ddd;
background-color: #ffffff;
border-radius: 25px;
}

.hourContent {
text-align:left;
margin-top: 10px;
font-weight: bold;
color: #121111;
}

.content-text {
color: black /* Specify your desired text color here */;
}


.circular-progress-card {
  width: 160px;
  height: 160px;
  border: none;
  background: linear-gradient(to bottom right, transparent, transparent);
  position: relative;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.circular-progress {
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.progress-indicator {
  stroke: blue;
}

.progress-track {
  stroke: gray;
  stroke-width: 1;
}

.progress-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.chip-container {
  /* New container for the text chip */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Place above the progress track */
}

.chip {
  width: auto;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: white(0, 0, 0, 0.7);
  color: black;
  border-radius: 4px;
}

.chip-content {
  display: block;
  margin: 0;
}

.work-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.work-image {
  width: 80px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  margin-right: 10px;
}

.work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-title {
  font-weight: bold;
  margin-right: 10px;
  color: #121111;

}

.work-status {
  display: flex;
  align-items: center;
  color: #121111;
}

.work-status img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  margin-right: 5px;
}