/* create.module.css */

.create-page {
    background-color: white;
    min-height: 100vh;
    
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  
  .create-text {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: black;
  }
  


  .form-container {
    justify-content: center;
    color: black;
  }
  
  .form-column {
    
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
  }
  
  .form-container label {
    margin-bottom: 5px;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .form-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .left-column {
    
    flex-direction: column;
    width: 50%;
    padding: 0 10px;
    align-items: flex-start; /* Align fields to the top */
  }
  
  .right-column {
    
    flex-direction: column;
    width: 50%;
    padding: 0 10px;
  }
  

  .upload-pic {
    border-radius: 25px;
  width: 350px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: white;
  position: relative;
  left: 50px;
  top: 120px;
  }

  .container-title {
    display: grid;
  }

  .container-schoolhour {
    display: grid;
  }

  .coniner-datetine {
    display: grid;
  }

  .conatiner-location {
    display: grid;
  }

  .conatiner-deatils {
    display: grid;
  }

  .conatiner-qualification {
    display: grid;
  }
  
  .conatiner-contact {
    display: grid;
  }