.login-page {
  background: url(/background_login.png);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 832px;
  object-fit: cover;
  background-repeat: "no-repeat";
  background-size: cover;

}

.h1 {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.label {
  color: black;
}

.login-container {
  max-width: 400px;
  padding: 20px;
  background-color: rgba(254, 254, 254, 0.8);
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.input-group {
  display: flex; /* Use flexbox */
  align-items: center; /* Align label and input vertically */
}

.form-group {
  margin-bottom: 15px;
}

.loginbutton {
  padding: 10px 80px;
  background-color: #3e4854; /* Change this color to your desired button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
} 

.registerbutton {
  padding: 10px 10px;
  background-color: #3e4854; /* Change this color to your desired button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.staffbutton {
  padding: 10px 10px;
  background-color: #3e4854; /* Change this color to your desired button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
} 

.buttons-container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space buttons equally */
  margin-top: 20px;
}

.login-heading {
  color: black;
  margin-left: 10px;
  display: flex;
}

.login-content {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.logo-image {
  margin-right: 10px; /* Add margin to the right side of the image */
}

.login-heading-container {
  flex: 1; /* Allow the container to expand and push the text to the right */
}

.custom-h2 {
  color: black;
  font-family:"Inter", sans-serif; /* Change "Arial" to the desired font-family */
}


.menu-page {
  background: url(/CL_1.jpg);
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: "no-repeat";
  background-size: cover;

}

/* login.module.css */

/* Container Styles */
.menu-container {
  max-width: 400px;
  padding: 20px;
  background-color: rgba(254, 254, 254, 0.8);
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center children horizontally and vertically */
}


/* Logo Image Styles */
.custom1-h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
  font-family:"Inter", sans-serif;
}

/* Buttons Container Styles */
.buttons-container2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center; /* Center buttons horizontally */
}

/* Custom Button Styles */
.custom-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #45a049;
}

/* Logout Button Styles */
.logoutbutton {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutbutton:hover {
  background-color: #d32f2f;
}
